/*
 Copyright (c) 2016 Fievus

 This software may be modified and distributed under the terms
 of the MIT license.  See the LICENSE file for details.
*/

.content-root {
    -fx-background-color: #aaa, linear-gradient(to bottom, #ddd, #ccc);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 11 10;
}

.header-region {
    -fx-pref-height: 100px;
    -fx-background-color: linear-gradient(to bottom, derive(black, 50%) 0%, derive(black, 5%) 50%, black 100%);
    -fx-background-radius: 10 10 0 0;
    -fx-effect: dropshadow(gaussian, black, 15, 0, 0, 5);
}

.header-menu-region {
    -fx-alignment: top-right;
    -fx-padding: 15 15 0 0;
}

.header-button-region {
    -fx-padding: 0 5 0 0;
    -fx-spacing: 5;
}

.minimize-button {
    -fx-background-color: radial-gradient(center 0.5 0.25, radius 75%, derive(yellow, 100%), derive(yellow, -50%));
    -fx-border-color: derive(yellow, -50%);
    -fx-border-width: 1;
    -fx-focus-traversable: false;
    -fx-font: 8 System;
    -fx-shape: "M 15,15 m 0,15 a 1,1 0 0,0 0,-30 a 1,1 0 0,0 0,30 M 8,15 L 22,15";
}

.close-button {
    -fx-background-color: radial-gradient(center 0.5 0.25, radius 75%, derive(red, 100%), derive(red, -50%));
    -fx-border-color: derive(red, -50%);
    -fx-border-width: 1;
    -fx-focus-traversable: false;
    -fx-font: 8 System;
    -fx-shape: "M 15,15 m 0,15 a 1,1 0 0,0 0,-30 a 1,1 0 0,0 0,30 M 8,8 L 22,22 M 22,8 L 8,22";
}

.title-label {
    -fx-font-weight: bold;
    -fx-font-size: 18pt;
    -fx-text-fill: white;
}

.sample-content-list-view {
    -fx-padding: 10;
    -fx-background-color: #f4f4f4;
    -fx-control-inner-background: #f4f4f4;
}

.sample-content-region {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.sample-content-title-region {
    -fx-pref-height: 50;
    -fx-min-height: 50;
    -fx-background-color: linear-gradient(to bottom, #ccc, #bbb);
    -fx-border-color: #999;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.sample-content-title-label {
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}
