/*
 Copyright (c) 2016 Fievus

 This software may be modified and distributed under the terms
 of the MIT license.  See the LICENSE file for details.
*/

.dragged-region {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #aaa;
    -fx-background-color: linear-gradient(to bottom, #fff, #f4f4f4);
}

.bounding-region-title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.bounding-region {
    -fx-pref-width: 300;
    -fx-pref-height: 500;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: dodgerblue;
    -fx-background-color: linear-gradient(to bottom, derive(dodgerblue, 50%), derive(dodgerblue, 30%));
    -fx-background-radius: 10;
}

.dragged-rectangle {
    -fx-stroke: green;
    -fx-fill: linear-gradient(to bottom, derive(green, 50%), derive(green, 30%));
}

.dragged-rectangle-in-bounding-region {
    -fx-stroke: orange;
    -fx-fill: linear-gradient(to bottom, derive(orange, 50%), derive(orange, 30%));
}

.dragged-circle {
    -fx-stroke: red;
    -fx-fill: radial-gradient(center 25% 25%, radius 100%, derive(red, 50%), derive(red, 30%));
}

.dragged-circle-in-parent {
    -fx-stroke: brown;
    -fx-fill: radial-gradient(center 25% 25%, radius 100%, derive(brown, 50%), derive(brown, 30%));
}

.dragged-circle-in-bounding-region {
    -fx-stroke: purple;
    -fx-fill: radial-gradient(center 25% 25%, radius 100%, derive(purple, 50%), derive(purple, 30%));
}

.dragged-rectangle-in-dragged-region {
    -fx-stroke: blue;
    -fx-fill: linear-gradient(to bottom, derive(blue, 50%), derive(blue, 30%));
}
