/*
 Copyright (c) 2016 Fievus

 This software may be modified and distributed under the terms
 of the MIT license.  See the LICENSE file for details.
*/

.record-region {
    -fx-padding: 10;
    -fx-spacing: 5;
}

.chart-region {
    -fx-padding: 10;
    -fx-spacing: 10;
}