/*
 Copyright (c) 2016 Fievus

 This software may be modified and distributed under the terms
 of the MIT license.  See the LICENSE file for details.
*/

.container {
    -fx-fit-to-width: true;
}

.record-region {
    -fx-padding: 10;
    -fx-spacing: 5;
}

.chart-region {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-pref-tile-width: 300;
    -fx-pref-tile-height: 300;
}

.titled-pane {
    -fx-collapsible: false;
}
