.container {
    -fx-padding: 10;
    -fx-fit-to-width: true;
}

.root {
    -fx-padding: 10 10 0 10;
    -fx-spacing: 10;
}

.box-root {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-pref-tile-height: 250;
}

.box {
    -fx-spacing: 10;
}

.label {
    -fx-font-weight: bold;
}

.table-view {
    -fx-pref-width: 200;
    -fx-pref-height: 200;
}

#treeTableView3 .color-picker-tree-table-cell, #treeTableView5 .color-picker-tree-table-cell {
    -fx-content-display: top;
}