.container {
    -fx-padding: 10;
    -fx-fit-to-width: true;
}

.root {
    -fx-padding: 10 10 0 10;
    -fx-spacing: 10;
}

.box-root {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-pref-tile-height: 250;
}

.box {
    -fx-spacing: 10;
}

.label {
    -fx-font-weight: bold;
}

.tree-view {
    -fx-pref-width: 200;
    -fx-pref-height: 200;
}

#treeView3 .color-picker-tree-cell, #treeView5 .color-picker-tree-cell {
    -fx-content-display: top;
}