.container {
    -fx-padding: 10;
    -fx-fit-to-width: true;
}

.root {
    -fx-padding: 10 10 0 10;
    -fx-spacing: 10;
}

.box-root {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-pref-tile-height: 200;
}

.box {
    -fx-spacing: 10;
}

.label {
    -fx-font-weight: bold;
}

.table-view {
    -fx-pref-width: 300;
    -fx-pref-height: 200;
}

.date-picker-table-cell .date-picker {
    -fx-pref-width: 120;
}
